@charset 'utf-8';

@media (min-width: 600px) and (max-width: 1099px) {
	

header {width:100%; height:60px; background-color: transparent; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-around; background-size:cover; position: relative; padding:60px auto;}

		.head_wrap {width:100%; height:100%; background-color: rgba(0,0,0,0); display: flex; justify-content: center;}

		.head_top {width: 80%; height:35px; background-color:transparent; display: flex; flex-direction: row; justify-content: space-around; padding:15px 0; position: absolute;}
		.head_top > .top_left {width:50%; height:100%; display: flex;}
		.head_top > .top_left > .logo {width:150px; height:40px; display: flex; justify-content: space-between;  background-color: transparent;}
		.head_top > .top_left > .logo > a > img {width:150px; height: 100%; align-items: center;}

		.head_top > .top_right {width:50%; height: 100%; display: flex; background-color:transparent; flex-direction: row-reverse; justify-content: space-between;}
		.head_top > .top_right > .top_button {width:228px; height:100%; background-color: transparent; justify-content: flex-end; display: none;}
		.head_top input[name="top_button"] {background-color: transparent; font-size: 14px; font-weight: 500 ;padding: 14px 35px; border-radius: 50px; text-transform: uppercase; text-shadow: 4px 3px 8px rgba(0,0,0,0.1); box-shadow: 0px 8px 25px 0px rgba(72, 69, 90, 0.1); transition: all 300ms;
			border:2px solid #7f00ff; color:#7f00ff; font-weight: bold; word-spacing: 1.5px;}
		.head_top input[name="top_button"]:hover {cursor: pointer; background-color:#cc00ff; color:#fff; border:2px solid #cc00ff;}

		.head_top .hamburger  i { color: white;font-size: 16px; width: 38px; height: 38px; line-height: 38px; text-align: center; border-radius: 50%; background: linear-gradient(#7F00FF, #cc30ff); transition: all linear 0.3s;}
		.head_top .hamburger  i:hover {cursor: pointer;}



				.head_bot {width: 100%; height:320px; background-color:transparent; display:flex; padding:0; position: absolute; top: 60px; left: 0%; z-index: 1000;}
		.head_bot > .head_nav {width:100%; height:100%; display: flex; margin:0 auto;  justify-content: center; display: none; background-color: rgba(204, 0, 255, 0.7);}
		.head_bot > .head_nav > ul {width:100%; display: flex; align-items: center; justify-content: space-between; flex-direction: column; height: 100%;}
		.head_bot > .head_nav > ul > li {display: flex; justify-content: center; align-items: center; background-color: rgba(204, 0, 255, 0.7); width: 100%; height: 100%;}
		.head_bot > .head_nav > ul > li:first-of-type {padding: 10px 0;}
		.head_bot > .head_nav > ul > li:nth-of-type(2) {display: flex; padding:10px 0;  display: flex; justify-content: center; width: 100%;}
		.head_bot > .head_nav > ul > li:nth-of-type(3) {padding: 10px 0;}
		.head_bot > .head_nav > ul > li:nth-of-type(4) {display: none;}
		.head_bot > .head_nav > ul > li:nth-of-type(5) {padding: 10px 0; display: flex; justify-content: center; width: 100%;}
		.head_bot > .head_nav > ul > li:nth-of-type(6) {padding: 10px 0;}
		.head_bot > .head_nav > ul > li:nth-of-type(7) {padding:10px 0;  display: flex; justify-content: center; width: 100%;}
		.head_bot > .head_nav > ul > li:hover {background-color: #6601b9; cursor: pointer;}

		.head_bot > .head_nav > ul > li > a {display: flex; text-decoration: none; color:#fff; font-weight: bold; transition:all 300ms; font-size: 18px; line-height: 20px; font-family: 'Lato', sans-serif;}


		.head_bot > .head_nav > ul > li > .center_button {width:200px; height: 200px; background-color: cyan; position: relative; z-index: 10; position: absolute; top:-50px; left:45%; display: flex; justify-content: center; background: url(img/player-bg.jpg);background-repeat: no-repeat;background-position: center;background-size: cover; border: 15px solid #fff; border-radius: 50%; overflow: hidden; opacity: 1; display: none;}
		
		.head_bot button {width:100%; height:100%; background: linear-gradient(rgba(128, 0, 255, 0.7), rgba(203, 48, 255, 0.7));
		   border: none; outline: none; border-radius: 50%; animation: mahmud 2s linear infinite; display: none;}

		    @keyframes mahmud { 0% { left:100px;} 100% {left:300px;}}

		    .head_bot button i {color:#fff; font-size:40px; text-align: center;}


		.head_bot button:hover {cursor: pointer;}

		.headDetail {display: none;}


		
		    




		footer {width:100%; height:2000px; background: linear-gradient(#7F00FF, #cc30ff); border-top:1px solid #ddd; padding: 10px 0; border-top-right-radius: 15%;
			border-top-left-radius: 15%; }

		

		.footer_top {width:100%; height: 300px; background-color: transparent; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center; align-content:space-around; align-items: center;}
		.footer_top .footer_logo {width:220px; height:60px;}
		.footer_logo img {width:100%; height:100%;}
		.footer_top .footer_ul {width: 100%; height:70px; display: flex; justify-content: center;}
		
		.footer_ul ul {width:350px; height:100%; background-color: transparent; display: flex; justify-content: center; align-items: center; align-content: center;}
		.footer_ul ul li {margin:0 auto;}
		.footer_ul ul li a {display: flex; justify-content: center;}
		.footer_ul ul li a i {width: 45px; height: 45px; line-height: 45px; background-color: #fff; color: #7f00ff; border-radius: 50%; text-align: center; margin:0; transition: all 0.3s ease-out; }
		.footer_ul ul li a i:hover {transform: translateY(-8%);}


		.button_wrap {height: 20%; display:flex; justify-content: flex-start; flex-direction: row-reverse;}
		.text_wrap {width:100%; height:20%; display: flex; justify-content: center;}

		.footer_top input[type="text"] {width:535px; height: 100%; border: none; outline: none; height: 60px; border-radius: 50px; background-color:#fff; padding: 0px 0 0px 20px; position: relative; z-index: 1;}
		 .email_btn {  background-color: #cc00ff; font-size: 14px; font-weight: 500 ;padding: 14px 35px; border-radius: 50px; text-transform: uppercase; text-shadow: 2px 3px 8px rgb(0 0 0 / 10%); box-shadow: 0px 8px 25px 0px rgba(72, 69, 90, 0.1); transition: all 300ms;
			border:3px solid #cc00ff; color:#fff; font-weight: bold; word-spacing: 1.5px; margin:5px; position: absolute; z-index: 5; }
		 .email_btn:hover {cursor: pointer; background-color:#7f00ff; color:#fff; border:3px solid #7f00ff;} 


		

		.footer_middle {width:100%; height: 1500px; background-color: transparent; display: flex; justify-content: center; padding: 40px 0;}
		.footer_middle > .box_wrap {width: 75%; height: 100%; display: flex; justify-content: space-around; flex-wrap: wrap; align-content: space-around;}
		.footer_middle > .box_wrap > .box {width:100%; height: 30%; position: relative; overflow: hidden; border-radius: 10px; background-color: transparent; display: flex; flex-direction: row; flex-wrap: wrap; align-content: space-between; color:#eee; padding:10px 0; background-color:transparent; align-items: flex-start;}
		.footer_middle > .box_wrap > .box h1 {width:100%; font-size: 1.5em; margin:20px 0; font-family: 'Lato', sans-serif;}
		.footer_middle > .box_wrap > .box p {width: 100%; font-family: 'Lato', sans-serif; line-height: 30px;}
		.footer_middle > .box_wrap > .box ul {display: flex; flex-direction: column;}
		.footer_middle > .box_wrap > .box ul li {margin:10px 0;  border-bottom: 1px solid #c0c0c0; padding-bottom: 20px; }
		.footer_middle > .box_wrap > .box ul li:last-of-type {border:none;}
		.footer_middle > .box_wrap > .box ul li a {text-decoration: none; color:#eee; transition: all 0.3s ease; font-family: 'Lato', sans-serif;}
		.footer_middle > .box_wrap > .box ul li a:hover {color:#111;}



		.footer_middle > .box_wrap > .box .topbox {width:100%;  display: flex; justify-content: center; flex-wrap: wrap;}
		.footer_middle > .box_wrap > .box .botbox {width:100%; margin:0; font-family: 'Lato', sans-serif;}
		.footer_middle > .box_wrap > .box .botbox ul {width:50%; height: 100%;}
		.footer_middle > .box_wrap > .box .botbox ul li {width:100%; height: 100%;}
		.footer_middle > .box_wrap > .box .botbox ul li a img {width:50%; height: 60px;}

		.footer_bot {width:100%; height:200px; background-color: transparent; display: flex; align-items: center; flex-direction: row;
			justify-content: center; background-color: #220044;}
		.footer_bot ul {width:100%; height:100%; display: flex; justify-content: space-evenly; flex-wrap: wrap; flex-direction: column; align-items: center;}
		.footer_bot ul li {display: flex; justify-content: space-between; font-size:14px; color:#fff; padding: 0px;}
		.footer_bot ul li span {color:#cc30ff;}

}